/*
 * Copyright (c) 2025 Cirrus Logic, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <zephyr/dt-bindings/gpio/gpio.h>
 #include <zephyr/dt-bindings/i2c/i2c.h>

/ {
    vdd_p: vdd-p {
		compatible = "regulator-fixed";
		regulator-name = "vdd-p";
        regulator-always-on;
	};
};

&arduino_i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    cs35l56_l: cs35l56@32 {
        compatible = "cirrus,cs35l56";
        reg = <0x32>;
        status = "okay";

        reset-gpios = <&arduino_header 8 GPIO_ACTIVE_LOW>;
    };
};
